2. Ansible Basics_Presentation*
1. Ansible Basics_Practice Task*
1.Requirements for the working environment and labs of the Ansible course*
1. Automatization_Presentation*
1.  Automatization_Presentation*
~*
